---
import "../style/reset.css";
import "../style/palettes.less";

import { TrucoView } from "../games/truco";
import Base from "../layouts/Base.astro";
---

<Base title="Score">
  <img class="logo" src="/logo.svg" alt="Score" />
  <a href="/truco">Jugar al truco</a>
</Base>

<style>
  .logo {
    height: 3rem;
  }
</style>
