each(range(0, 12, 1), {
    .pal-@{value} {
        --p10: hsl(@value * 30deg, 60%, 97%);
        --p30: hsl(@value * 30deg, 60%, 90%);
        --p40: hsl(@value * 30deg, 60%, 75%);
        --p50: hsl(@value * 30deg, 60%, 60%);
        --p70: hsl(@value * 30deg, 60%, 30%);
        --p90: hsl(@value * 30deg, 60%, 10%);
        --contrast: if(luminance(hsl(@value * 30deg, 60%, 60%)) > 60%, black, white);
    }
});

:root {
    --p10: hsl(220, 5%, 97%);
    --p30: hsl(220, 5%, 90%);
    --p40: hsl(220, 5%, 75%);
    --p50: hsl(220, 5%, 60%);
    --p70: hsl(220, 5%, 30%);
    --p90: hsl(220, 5%, 10%);
    --contrast: white;

    --bg100: #fff;
    --bg200: #eee;
    --bg300: #ddd;
    --bg400: #ccc;

    --text: #000;
    --textContrast: #fff;
    --secondaryText: #0008;
    --secondaryTextContrast: #fff8;

    --shadow: #0002;

    --redl: #ff7fd4;
    --red: #fe1e6e;
    --redd: #630081;


    --yellowl: #fff67d;
    --yellow: #ffc51a;
    --yellowd: #ac4204;

    --bluel: #5ab5f1;
    --blue: #2c37de;
    --blued: #31108b;

    --greenl: #80ee7c;
    --green: #28db67;
    --greend: #06634f;
}