section, form {
    display: grid;
    grid-template-rows: 2fr 3fr;
    height: 100%;
    overflow: hidden;
}
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    padding: .5rem;

    /* for global.css > .plastic */
    --light: transparent;
    border-radius: 0 0 .5rem .5rem;
    border-width: 0;
    border-bottom-width: 1px;

    & nav {
        display: flex;
        text-align: left;
        gap: 1rem;
        line-height: 1;
        align-items: center;
        font-weight: bold;
    }
    & .value {
        text-align: center;
        place-self: center;
        margin-top: -1rem;

        & .big {
            font-variant: tabular-nums;
            font-weight: 300;
            font-size: 3.5rem;
            line-height: 1;
        }
    }
    & button {
        background-color: inherit;
        color: inherit;
    }
    & .actions > button {
        background-color: var(--p10);
        color: var(--p90);
        --light: white;
        --dark: var(--p30);
        --shadow: color-mix(in srgb, var(--p70), transparent 75%);
        --border: var(--p70);
    }
}
.actions {
    display: flex;
    gap: 1rem;
    padding: .5rem;

    & > button {
        width: 0;
        flex: 1;
    }
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.5rem 0.25rem 0.5rem 0.25rem;
}
