---
interface Props {
  title: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@900&display=swap"
      rel="stylesheet"
    />
    <title>{Astro.props.title}</title>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6255018179973358"
      crossorigin="anonymous"></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6255018179973358"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: flex;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    height: 100%;
  }
</style>
