---
import { Icon } from "astro-icon";
import Base from "./Base.astro";

interface Props {
  title: string;
}
---

<Base title={Astro.props.title}>
  <header id="header">
    <a href="/" class="logo">
      <img class="Score" src="/logo.svg" alt="Score" />
      <span>{Astro.props.title.toLowerCase()}</span>
    </a>
    <button id="share">
      <p>Compartir</p>
      <Icon name="mdi:share" />
    </button>
  </header>
  <slot />
  <!-- ingame -->
  <ins
    class="adsbygoogle"
    style="display:block;width:728px;height:90px"
    data-ad-client="ca-pub-6255018179973358"
    data-ad-slot="7669507072"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</Base>

<style lang="less">
  #header {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 4rem;
    flex-shrink: 0;
    border-bottom: 1px solid var(--p30);
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: end;
      gap: 0.5rem;
      img {
        height: 1.25rem;
      }
      span {
        font-family: "Poppins";
        line-height: 0.7;
        font-weight: 900;
        font-size: 2.1rem;
      }
    }
    button {
      display: flex;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      gap: 0.5rem;
      align-items: center;
      background-color: var(--blue);
      color: var(--textContrast);

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
</style>

<script>
  import * as fflate from "fflate";
  /*
    yep, the browser API just sucks, not even the FileReader trick was 
    useful, as navigation.share cannot be called asynchronously
    */
  import * as base64 from "js-base64";

  const shareBtn = document.getElementById("share");
  if (shareBtn instanceof HTMLButtonElement) {
    shareBtn.addEventListener("click", async (btn) => {
      const url = new URL(location.href);
      const id = url.searchParams.get("id")!;
      const data = localStorage.getItem(id)!; // won't work the first 2 seconds
      const compressed = fflate.gzipSync(new TextEncoder().encode(data));
      const encoded = base64.fromUint8Array(compressed, true);
      url.searchParams.delete("id");
      url.searchParams.set("data", encoded);
      navigator.share({
        title: "Compartir partida",
        url: url.toString(),
      });
    });
  }
</script>
